name: build-test

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3.5.2
    - uses: actions/setup-node@v3.6.0
      with:
         node-version: '18.x'
    - name: use yarn
      run: |
       yarn install
       yarn build